.home-title{
    font-size: 3.5rem;
    margin-top: 5rem;
    letter-spacing: 1rem;
}

.category-title{
    margin-top: 3rem;
    font-size: 1.2rem;
}

#categoryList{
margin-top: 3rem;
gap: 1rem;
}

.category-item{
    border: 1px solid var(--pale-blue);
    box-shadow: 4px 4px 2px var(--mid-gray);
    /* margin: 2rem; */
    width: 150px;
    background-color: var(--jean-blue);
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    min-width: 60px;
    min-height: 55px;
}

.category-item:hover{
    box-shadow: 0px 0px;
    transition: box-shadow 0.15s linear 0s;
}

.category-item a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

