/* .home-title{
    font-size: 3.5rem;
    margin-top: 5rem;
    letter-spacing: 1rem;
}

.login-wrapper{
    width: 600px;
    margin: 50px auto;
}

.login-wrapper .signup-btn{
    cursor: pointer;
    color: black;
    padding: 1rem;
}

.login-wrapper .signup-btn:hover{
    text-decoration: underline;
}

.input-group{
    margin-bottom: 1.5rem;
}

.login-wrapper h4 {
    font-size: 2rem;
    letter-spacing: 2px;

}
 */


 /* Custom styles */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 30px;
}

#auth-form a {
    color: #007bff;
    text-decoration: none;
}

#auth-form a:hover {
    text-decoration: underline;
}







