.price-filter-select .form-group{
    max-width: 70px;
}
.price-filter-select .form-select{
    width: 100%;
}

.product-list-title{
    font-size: 3rem;
    margin: 40px 0;
    font-weight: normal;
}
.product-list-sidebar{
    margin-right: 100px;
    flex-basis: 20%;
}

.product-list-sidebar a{
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    color: black;
    border-bottom: 1px solid var(--light-blue);
    background-color: var(--sky-blue);
}

.product-list-sidebar a:last-child{
    border-bottom: none;
}

#categoryList{
    margin-bottom: 1rem;
}

.product-list-sidebar a:hover{
    background-color: var(--darkSky-blue);
    font-weight: bold;
}

.sidebar-title , .sidebar-search{
    margin-bottom: 0.5rem;
}

#clear{
    margin-top: 1rem;
}

.price-filter-select .form-group label{
margin-top: 0.5rem;
}

 .product-list-box{
    flex-basis: 80%; 
 } 
.product-list-box .product-item{
    width: 30%;
    margin-right: 1.5%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 5px var(--light-gray);
    padding: 0.5rem;
}

.product-img{
    height: 300px;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.product-list-box .product-item .product-name{
    font-size: 1.2rem;
    color: black;
    padding: 0.3rem 0;
}

.product-list-box .product-item .product-price{
    color: var(--jean-blue);
    padding-bottom: 10px;
}

.product-list-box .product-item:nth-child(3n) {
margin-right: 0;
}

.product-list-box .product-item:hover{
    box-shadow: 10px 10px 10px var(--blue-gray);
    transition: box-shadow  0.15s linear 0s;
}